# Logs and databases
*.log
logs
*.sql
*.sqlite
*.sqlite3

# OS
.DS_Store
*.swp
*.swo
*~

# Dependencies
node_modules

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.local
.env.*.local

# Build
dist
dist-ssr
*.local

# Editor
.history

# Misc
coverage
.nyc_output
