<IfModule mod_rewrite.c>
  # Permite acessar a pasta wordpress_blog sem interferência da SPA
  RewriteEngine On
  RewriteBase /

  # Se for wordpress_blog, não aplica a regra da SPA
  RewriteCond %{REQUEST_URI} ^/wordpress_blog(/.*)?$ [NC]
  RewriteRule ^ - [L]

  # Todas as outras rotas vão para a SPA
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^.*$ /index.html [L,QSA]
</IfModule>
